{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rujal Baniya - seo brief</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body class="bg-gray-900 text-gray-100">
Rujal Baniya

Nationality: Nepali

Occupation: Developer, Tech Enthusiast

Website: www.rujalbaniya.com.np

GitHub: 0luv69

Early Life and Education

Rujal Baniya is a Nepali tech enthusiast with a passion for Python programming, web development, and cybersecurity. His early interest in technology led him to pursue a career in software development, currently studying for a Bachelor's in Computer Science. He has completed several certifications in programming and cybersecurity.

Career

Baniya’s work spans web applications using Django, desktop software, and innovative projects for real-world issues. His GitHub features multiple projects demonstrating his ability in full-stack development and cyber-related endeavors.

Notable Projects

Pariwar: A family communication platform, created with Django, React, and Node.js, which won the IICQuest Hackathon.

Photo Editor: A Python-based photo editing tool with features like image enhancement, cropping, and filtering.

MCQChamps: An MCQ platform built using Django and Tailwind CSS for exam preparation.

Money Manager: A finance management app made with Python and Tkinter for tracking transactions and loans.

Python Scripts: Scripts alike, Brute Force, Windows/ Apple/ Web Keylogger, own Encryption & Decryption technique.


Skills and Technologies

Rujal is proficient in Python, JavaScript, Django, React, Tailwind CSS, and cybersecurity technologies. He is experienced in frontend and backend development, contributing to open-source projects and continuously enhancing his skills.

Open-Source Contributions

Baniya actively contributes to open-source projects on GitHub, participating in bug fixes, feature development, and collaborating with the global developer community.

Personal Life

Rujal enjoys exploring new technologies, participating in hackathons, and solving complex problems. He remains dedicated to learning and advancing his skills in the ever-evolving tech industry.


</body>
</html>