{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Favicon -->
    <link
      rel="icon"
      href="{% static 'img/logo.png' %}"
      type="image/x-icon"
    />

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Messages</title>

    <link rel="stylesheet" href="{% static 'styles.css' %}" />


</head>

<body>
    <div class="w-full h-12 bg-green-200 text-center py-2">
        <span class="font-serif font-extrabold text-xl "> Contact Messages </span>
    </div>

    <section>
        <Table class="custom-table w-full text-left m-4">
            <thead class="text-sm font-medium uppercase tracking-wider" >
                <tr class="bg-slate-400">
                    <th class="">SN</th>
                    <th class="pl-2">Name & Email</th>
                    <th class="pl-2">Subject</th>
                    <th class="pl-2">Message</th>
                    <th class="pl-2">from</th>
                    <th class="pl-2">Date</th>
                </tr>
            </thead>

            <tbody>
                {% for contact in contacts%}
                <tr class="border-b border-gray-700 hover:bg-gray-400 transition duration-150 ease-in-out">
                    <td class="border-r border-gray-700">{{ forloop.counter }}</td>
                    <td  class="border-r border-gray-700 pl-1">
                        {{contact.name}}
                        <br>
                        {{contact.email}}
                    </td>
                    <td  class="border-r border-gray-700 pl-1">
                        {{contact.subject}}
                    </td>
                    <td class="border-r border-gray-700 pl-1">
                        {{contact.message}}
                    </td>
                    <td class="border-r border-gray-700 pl-1">
                        {{contact.ip_address}}
                    </td>
                    <td class="border-r border-gray-700 pl-1">
                        {{contact.created_at}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </Table>
    </section>
</body>


</html>
